<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Ticket</title>
</head>
<body>
   <form method="post">
           <table>
               <label for="fname">username:</label>
               <input type="text" id="fname" name="username"><br><br>
               <label for="lname">body:</label>
               <input type="textarea" id="lname" name="body"><br><br>
           </table>
            {% csrf_token %}
           <button type="submit">Create</button>
   </form>
</body>
</html>