<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>
</head>
<body>
    <p>tickets</p>
    {% for ticket in tickets %}
        {% if ticket.submitter == 'Test user' %}
            <div>Submitter: {{ ticket.submitter }}, created at {{ ticket.created_at }}</div>
            <div>Body: {{ticket.body}}</div>
            <hr/>
        {% else %}
            <div style="color: red">Submitter: {{ ticket.submitter }}, created at {{ ticket.created_at }}</div>
        {% endif %}
    {% endfor %}
</body>
</html>